@keyframes an_background_fading_in {
    0% {
        opacity: 0.0;
        transform: scale(1.12);
    }

    10%, 20%, 30%, 40% {
        opacity: 0.2;
        transform: scale(1.12);
    }
    50% {
        opacity: 0.2;
        transform: scale(1.10);
    }
    60% {
        opacity: .4;
        transform: scale(1.08);
    }
    70% {
        opacity: .6;
        transform: scale(1.04);
    }
    80% {
        opacity: .8;
        transform: scale(1.02);
    }
    90%, 100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: translateY(-6px);
        -ms-transform:     translateY(-6px);
        transform:         translateY(-6px)
    }
    20%, 50%, 80% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
      }
    40% {
        -webkit-transform: translateY(-4px);
        -ms-transform:     translateY(-4px);
        transform:         translateY(-4px)
      }
    60% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
      }
    80% {
        -webkit-transform: translateY(-1px);
        -ms-transform:     translateY(-1px);
        transform:         translateY(-1px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
}

@-webkit-keyframes invswing {
    0% {
            webkit-transform: translateY(7px);
        -ms-transform:     translateY(7px);
        transform:         translateY(7px)
    }
    20%, 50%, 80% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
    40% {
        -webkit-transform: translateY(3px);
        -ms-transform:     translateY(3px);
        transform:         translateY(3px)
    }
    60% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
    80% {
        -webkit-transform: translateY(1px);
        -ms-transform:     translateY(1px);
        transform:         translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
}


.recon {
	-webkit-animation: swing .7s ease;
}

.recon:hover {
  	transition: .2s;
  	transform: translateY(-7px);
  	-webkit-animation: .7s ease;
}

@keyframes grow {
    0%, 10% {
        opacity: 0;
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 1;
    }
}

@keyframes header {
    0%, 10% {
        opacity: 0;
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
}

@keyframes inverted_header {
    0%, 10% {
        opacity: 1;
        -webkit-transform: translateY(05px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
    }
}

@keyframes h1title {
    0%, 10% {
        opacity: 0;
        -webkit-transform: translateX(+30px);
        -ms-transform:     translateX(+30px);
        transform:         translateX(+30px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform:     translateX(0px);
        transform:         translateX(0px)
    }
}

@keyframes leftshift {
    0%, 10% {
        opacity: 0;
        -webkit-transform: translateX(-30px);
        -ms-transform:     translateX(-30px);
        transform:         translateX(-30px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform:     translateX(0px);
        transform:         translateX(0px)
    }
}

@keyframes down {
    0%, 10% {
        opacity: 0;
        -webkit-transform: translateY(+25px);
        -ms-transform:     translateY(+25px);
        transform:         translateY(+25px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }
}

@keyframes invdown {
    0%, 10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform:     translateY(0px);
        transform:         translateY(0px)
    }

    20%, 30%, 40%, 50%, 60%, 80%, 100% {
        opacity: 0;
        -webkit-transform: translateY(+25px);
        -ms-transform:     translateY(+25px);
        transform:         translateY(+25px)
    }
}